In [1]:
#!/usr/python
import pandas as pd
import os
import pandas_datareader.data as web
import pandas_datareader as pdr
from datetime import datetime
import matplotlib
import yfinance as yf
from datetime import timedelta
import numpy as np
yf.pdr_override()
ntickers = pd.read_csv("nasdaq_ticker_info.txt", sep="\t")
top_tickers = pd.read_csv("nasdaq_volume_leaders.csv")
midcap_tickers = pd.read_csv("mid_cap_volume_leaders.csv")
largecap_tickers = pd.read_csv("large_cap_volume_leaders.csv")
allsymbols = [i for i in set([x for x in largecap_tickers.Symbol] + [y for y in top_tickers.Symbol])]

/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [4]:
data = yf.download(allsymbols[:4], start="2017-01-01", end="2017-04-30")['Close']

[*********************100%***********************]  4 of 4 completed

                 CLVS        KMI   MRVL        VLO
Date
2017-01-03  42.950001  21.610001  14.05  70.419998
2017-01-04  44.669998  21.719999  14.24  67.889999
2017-01-05  46.330002  21.690001  14.04  67.680000
2017-01-06  46.029999  21.809999  14.18  66.660004
2017-01-09  50.860001  21.639999  14.37  66.370003